<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="AquaConnection" connectionString="Data Source='DESKTOP-IEK3SPK\\SQLEXPRESS';Initial Catalog=Aqua;Integrated Security=True" providerName="System.Data.SqlClient" />

		<!-- Add more connection strings if needed -->
	<add name="AquaEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IEK3SPK\SQLEXPRESS;initial catalog=Aqua;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>